/* work sens font google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+sens:wght@400;700;800&family=work+sens:wght@400;500;600;800&display=swap');

*{
    font-family:"Lato",sans-serif;
    font-family: 'open sans', sans-serif;
    font-family: 'Work sans',sans-serif;
}