/* work sens font google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+sens:wght@400;700;800&family=work+sens:wght@400;500;600;800&display=swap');

*{
    font-family:"Lato",sans-serif;
    font-family: 'open sans', sans-serif;
    font-family: 'Work sans',sans-serif;
}
/* header style */
header{
    background: rgb(255, 144, 14,0.10);
    padding: 50px 240px;
}
.text-light-gray{
    color: #727272;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
/*  banner style  */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    color: #fff;
    padding: 20px 25px;
    cursor: pointer;
    font-size: 1.25rem;
    border: 0;

}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
.banner-img{
    width: 100%;
    margin-top: 30px;
}

/* main style */
main{
    max-width: 1440px;
    margin: 70px auto ;
}
/* teams style*/
.teams-container{
    display:flex ;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-contant{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-title{
    font-size: 2.8rem;
}
.teams-title .quick-list{
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.teams-title .quick-lists{
    color:  #131313;
    font-weight: 700;
    line-height: normal;
}
.teams-title .text-features{
    color: #FF900E;
    font-weight: 700;
    line-height: normal;
}
/*  feature section */
.featutre{
    margin: 130px;
    display: flex;
    gap: 10px;
}
.featutre .section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;

}
.featutre-contant .card{
    width: 586px;
    height: 171px;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.featutre-img img{
    height: 85%;
    margin-left: 90px;
}
.ten-years-badge{
    width: 342px;
    height: 200px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    position: relative;
    bottom: 100px;
}
.ten-years-badge h2{
    font-size: 4rem;
    margin: 0;
}
.ten-years-badge p{
    font-size: 1.6rem;
    margin-top: 32px;
}
/*  facts section  */
.facts-card-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}
.facts-card-container .card-stats{
    font-size: 2.8rem;
    color:  #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
.facts-card-container .card-title{
    color: #727272;
    font-size: 20px;
    font-weight: 600;
    margin: 3px;
}
/*   sponsor section */
.sponsors{
    text-align: center;
}
.sponsor-img-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: center;
    gap: 40px;
}
.sponsor-img-container .img{
    width: 166.757px;
    height: 50px;
}
/* footer section  */
.footer .text-light-gray{
    text-align: center;
    width: 1440px;
    height: 100px;
    border-radius: 8px;
    background: #FFF4E7;
    color:  #424242;
    font-size: 25px;
    font-weight: 400;
    padding: 30px;
    margin: 2.5rem;
}
/* Responsive web design */
/* mobile responsive */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav,
    .teams-container,
    .facts-card-container,
    .sponsor-img-container
    {
        flex-direction: column;
    }
    .feature-img img{
        width: 85%;
        margin-left: 0;
    }
    .ten-years-badge{
        position: static;
        max-width: 300px;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-contant,
    .facts-card-container,
    .sponsor-img-container
    {
        padding-left: 20px;
        padding-right: 20px;
}
.facts-card-container{
    gap: 20px;
}
}
/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width:960px)  {
    nav, 
    .teams-container,
    .sponsor-img-container,
    .feature
    {
        flex-direction: column;
    }
    header{
        padding: 50px;
    }
}
